input {
  udp {
    port => {{collectd_network_port}} # 25826 matches port specified in collectd.conf
    buffer_size => 1452   # 1452 is the default buffer size for Collectd
    codec => collectd { } # specific Collectd codec to invoke
    type => collectd
  }
}

output {
  elasticsearch {
    hosts => {% if groups['elasticsearch'] is defined %}{{ groups['elasticsearch']|safe}}{% else %}localhost{% endif %}
  }
}
